body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}
header {
  background: #004d99;
  color: white;
  padding: 20px;
  text-align: center;
}
main {
  padding: 20px;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}